.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 92px 24px 96px;
  border: 1px solid black;
}

.header__logo-image{
  width: 100%;
}

.header__logo{
  display: block;
  width: 148px;
  height: 105px;
  margin-right: 150px;
}

.header__links-list{
  display: flex;
  flex-direction: row;
  gap: 32px;
  list-style: circle;
  margin-left: 15px;
}

.header__links-list-item_no-bullet{
  list-style: none;
}

.header__links-list-link{
  color: #000000;
  font-size: 18px;
  line-height: 21px;
  text-underline-offset: 4px;
}

.address{
  margin-right: 49px;
}